.emailbox {
    margin-top: 30px;
    padding: 15px;
    padding-left: 90px;
    background-color: rgb(51, 201, 96);
    justify-content:center;
    align-items:center;
    margin-bottom: 20px;

}
.emailbox-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 30px;
  }
.emailbox input[type="email"] {
    float: right;
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #db7272;
    border-radius: 5px;
    height: 35px;
    margin-right: 30px;
    margin-left: 30px;
  }

.emailbox .emailbutton {
    background-color: #353535f8;
    float: right;
    display: block;
    padding: 8px 20px;
    cursor: pointer;
    color: rgb(222, 194, 194);
    font-size: 20px;
    margin-right: 30px;
 }

.emailbutton:hover {
    background-color: #f02e2e;
    color: rgb(164, 26, 26);
  }